body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.btn-modern{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    background-color: #ccc;
    cursor: pointer;

}
.btn-modern:hover{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    transform: translatey(-5px);
}
